@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../public/fonts/Montserrat/Montserrat.css');
@import url('../public/fonts/MesloLGS/MesloLGS.css');

@layer base {
  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .anchor {
    display: block;
    position: relative;
    top: -20rem;
    visibility: hidden;
  }
}
